body{
    width: 100%;
    height: 100%;
}

$myRed: #f13333;
$myDarkRed:#8A1D1B;
$myGrey:#585E66;
$myWhite:#F4F4F4;
$myBlack:#0D0E0E;

/*-------------Header------------------*/
.logo-garage{
    width: 250px;
}

.nav-item{
    padding-left: 100px;   
}

.nav-item a{
    color: $myRed;
    font-size: 1.5rem;
}

#connect{
    color: $myGrey;
    background: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-text label{
    color: $myDarkRed;
}

/*-----------------Main-----------------*/
main{
    margin: 15px 250px;
}
.garagiste{
    width: 100%;
    height: 525px;
    align-items: center;
    margin-bottom: 5px;
}

h3{
    background-color: $myDarkRed;
    text-align: center;
    color: $myWhite;
    border: none;
}

.services{
    background-color: $myDarkRed;
    color: $myWhite;
    font-size: 1.2rem;
}

.services li{
    list-style-type: none;
    padding-top: 10px;
}

.list-services{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.used-cars{
    margin-top: 15px;
}

.used-cars h3{
    color: $myWhite;
}

.filters{
    display: flex;
    justify-content: space-between;
}



.list-cars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px ;
}

.list-cars img{
    height:190px;
}

.card-body h5{
    color: $myDarkRed;
}

.description-cars{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.description-left{
    text-align: left;
}
.description-left p{
    font-size: 1.2em;
}

.description-right p{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 50px;
    color: $myRed;
}