@media screen and (max-width: 1400px){
    .mecanic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        width:40%;
    }

}

@media screen and (max-width: 1400px){
    .container-used-cars{
        margin: 0;
    }
    .list-cars{
        width: 85%;
    }
    .box-card{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1301px){
    .list-activity ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }  
}

@media screen and (max-width: 1300px){
    .nav-item{
        padding-left: 60px;   
    } 
    .container-cars{
        display: ;
    }  
    .avis-client-left div{
        font-size: 1.5em;
        margin: 0.5em;
    }
    
}

@media screen and (max-width: 1240px){
    
    .nav-item a{
        font-size: 1.2rem; 
    }  
    .avis-client{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avis-client-left,.avis-client-right{
        width: 100%;
    }
    .avis-client-right img{
        width: 70%;
    }
    .avis-client-right{
        display: flex;
        justify-content: center;
    }
    .container-cars{
        display: flex;
        flex-direction: column;
    }
    .card{
        margin-top: 2em;
    }
    
}


@media screen and (max-width: 1070px){
    .list-cars{
       flex-direction: column;
        align-items: center;
    }
    .box-card{
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    .mecanic, .container-link-to-used-cars, .infos, .container-avis-client{
        margin:0;    
    }
    .avis-client-left{
        width: 75%;
    }
    .infos{
        width: 100%;
    }
    .container-infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infos-left{
        width:80%;   
    }
    .horaires{
        font-size: 1.2rem;;
    }
    .infos-right{
        width:100%;
        text-align: center;
    }
    footer{
        font-size: 1rem;
    }
    .filters{
        flex-direction: column;
        align-items: center;
    }
    .garagiste-div{
        width: 75%;
    }
}

@media screen and (max-width: 740px){
    .infos-footer span{
        display: none;
    }
    .horaires-replace{
        display: block;
    }
    .horaires{
        display: block;
    }
    .back-to-top{
        display: none;
    }
    .back-to-top-replace{
        display: block;
    }
}

@media screen and (max-width: 585px){
    .services ul{
        font-size: 1.1rem;
    }
    .cnx form{
        display: flex;
        flex-direction: column;
    }
    .cnx input,.cnx button{
        margin: 30px;
    }.modal-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .services ul{
        font-size: 0.8rem;
    }
}