body {
  width: 100%;
  height: 100%;
  position: relative;
}

/*-------------Header------------------*/
.logo-garage {
  width: 250px;
}

header {
  width: 100%;
}

.nav-item {
  padding-left: 100px;
}

.nav-item a {
  color: #f13333;
  font-size: 1.5rem;
}

#connect {
  color: #585E66;
  background: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-text label {
  color: #8A1D1B;
}

.link-connect:hover {
  color: #0D0E0E;
}

/*------------Connexion/pageAdmin---------*/
.cnx, .carAdd {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carAdd input {
  padding-bottom: 10px;
}

/*-----------------Main-----------------*/
main, .container-used-cars, .infos, .mecanic {
  margin: 15px 250px;
}

.garagiste-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.garagiste {
  height: 525px;
  align-items: center;
  margin-bottom: 5px;
}

h3 {
  background-color: #8A1D1B;
  text-align: center;
  color: #F4F4F4;
  border: none;
}

.services {
  background-color: #8A1D1B;
  color: #F4F4F4;
  font-size: 1.2rem;
}

.services li {
  list-style-type: none;
  padding-top: 10px;
}

.list-services {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*----------------Used-cars-------------------*/
.container-link-to-used-cars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 20em;
}

.btn-warning {
  width: 8em;
  height: 3em;
  font-weight: bold;
  font-size: 2em;
}

.used-cars {
  margin-top: 15px;
}

.used-cars h3 {
  color: #F4F4F4;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.infoPrice, .infoKm, .infoYear {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters input[type=submit] {
  margin-top: 10px;
}

.list-cars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.col {
  display: flex;
  justify-content: center;
}

.card.active {
  width: 18rem;
}

.card.inactive {
  display: none;
}

.list-cars img {
  height: 190px;
}

.card-body h5 {
  color: #8A1D1B;
}

.description-cars {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

.description-left {
  text-align: left;
}

.description-left p {
  font-size: 1.2em;
}

.description-right p {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 50px;
  color: #f13333;
}

.container-cars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button-details {
  text-align: center;
  padding: 10px;
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}

/*--------------------Contact--------------*/
.contact-tel {
  padding-top: 30px;
  text-align: center;
}

.coms-place {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pseudo-coms {
  border: 5px solid rgb(180, 180, 180);
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.coms {
  border: 5px solid #8A1D1B;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.date-coms {
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: end;
}

/*------------------Avis-----------------*/
.container-commentaire {
  padding: 30px;
}

/*----------------infos----------------*/
.infos {
  display: inline-block;
}

.container-infos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos-left {
  width: 40%;
}

.infos-right {
  width: 60%;
  text-align: end;
}

.photo-garage, .horaires {
  width: 100%;
}

.horaires {
  background-color: #585E66;
  color: white;
  border-radius: 15px;
  margin-top: 10px;
  text-align: center;
}

.photo-plan {
  width: 90%;
}

/*------------Footer-----------------*/
footer {
  position: relative;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

.infos-footer {
  width: 100%;
  background-color: #8A1D1B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.note {
  color: #0D0E0E;
}

.logo-trophee {
  width: 75px;
}

footer a {
  color: #0D0E0E;
}

footer a:hover {
  color: #F4F4F4;
}

footer span {
  color: #0D0E0E;
}

.back-to-top {
  font-weight: 500;
  font-size: 1rem;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.back-to-top-replace {
  display: none;
}

.horaires-replace {
  display: none;
}/*# sourceMappingURL=style.css.map */